<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="stylesheet" href="../static/css/memoria.css">

  <script defer src="../static/js/memoria.js"></script>

  <title>Jogo da mémoria</title>
</head>
<body>

  <input class="voltar" type="image" src="../static/images/voltar.png">

  <img class="arvore1" src="../static/images/arvore.png">

  <img class="poço" src="../static/images/poço.png">

  <img class="vaca1" src="../static/images/vaca1.png">

  <img class="arvore" src="../static/images/arvore.png">

  <img class="gatocornio" src="../static/images/gatocornio.png">

  <img class="porco1" src="../static/images/porco1.png">

  <img class="galinha" src="../static/images/galinha.png">


  <main>
    <header>
      <span class="player" maxlength="10"></span>
      <span>Tempo: <span class="timer" maxlength="10">00</span></span>
    </header>
  
    <div class="grid" maxlength="10"></div>
  </main>

</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>