<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>croba</title>
        <link rel="stylesheet" href="../static/css/cobrinha.css">
    </head>
    <body>
        <input class="voltar" type="image" src="../static/images/voltar.png">


        <canvas id = 'stage' width="600" height="600"></canvas>

        <div id="scoreBox">Score: 0</div>
        <div id="hiscoreBox">HiScore: 0</div>

        

        <img class="deslizamento" src="../static/images/deslizamento.png">

        <img class="minhocas" src="../static/images/minhoca.png">

        <img class="minhoca2" src="../static/images/minhoca.png">

        <img class="minhoca" src="../static/images/minhoca.png">

        <img class="plant1" src="../static/images/plant.png">

        <img class="plant2" src="../static/images/plant.png">

        <img class="plant3" src="../static/images/plant.png">

        <img class="deslizamento2" src="../static/images/deslizamento2.png">

        <img class="poeira" src="../static/images/poeira.png">

        <img class="poeira2" src="../static/images/poeira.png">

        <img class="poeira3" src="../static/images/poeira.png">

        <img class="cacto" src="../static/images/cacto.png">

        <img class="cacto2" src="../static/images/cacto.png">

        <img class="cacto3" src="../static/images/cacto.png">

        
    </body>
    <script src="../static/js/cobrinha.js"></script>
</html>