<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='JogoQuiz/Jogo-Quiz/css/jogo-quiz.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='JogoQuiz/favicon.ico') }}" type="image/x-icon">
        <title>Jogo Quiz</title>
    </head>
        <a href="{{ url_for ('quiz') }}" class="bola_xcobra">
            <div class="xx1"></div>
            <div class="xx2"></div>
        </a>

    <body div class="container">
        <div class="btn"></div>
        
<section class="jogo">
        <div id="wrapper">
        <div id="titulo"></div>
        <ul>
            <li class="alternativa"></li>
            <li class="alternativa"></li>
            <li class="alternativa"></li>
            <li class="alternativa"></li>
        </ul>
        </div>
        <div id="pontos"></div>
        <div id="result"></div>
</section>


        <img class="alienamarelo" src="../../../static/JogoQuiz/Jogo-Quiz/images/alienamarelo.png">

        <img class="alienazul" src="../../../static/JogoQuiz/Jogo-Quiz/imagesalienazul.png">

        <img class="alienazulverde" src="../../../static/JogoQuiz/Jogo-Quiz/imagesalienazulverde.png">

        <img class="pedra1" src="../../../static/JogoQuiz/Jogo-Quiz/imagespedra1.png">

        <img class="pedra" src="../../../static/JogoQuiz/Jogo-Quiz/imagespedra.png">

        <img class="rocha1" src="../../../static/JogoQuiz/Jogo-Quiz/imagesrocha1.png">

        <img class="rocha2" src="../../../static/JogoQuiz/Jogo-Quiz/imagesrocha.png">

        <img class="pedra" src="../../../static/JogoQuiz/Jogo-Quiz/imagespedra.png">

        <img class="alienverde" src="../../../static/JogoQuiz/Jogo-Quiz/imagesalienverde.png">

        <img class="pedra1" src="../../../static/JogoQuiz/Jogo-Quiz/imagespedra1.png">

        <img class="lago" src="../../../static/JogoQuiz/Jogo-Quiz/imageslago.png">

        <img class="lago1" src="../../../static/JogoQuiz/Jogo-Quiz/imageslago1.png">

        <script src="../static/js/quiz.js"></script>
        <script src="{{ url_for('static',filename='JogoQuiz/Jogo-Quiz/js/jogo-quiz.js') }}"></script>
    </body>
</html>