* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

header {
    display: flex;
    text-align: center;
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding-top: 8px;
    padding-right: 5%;
}

.lista-quiz {
    list-style: none;
    display: flex;
    padding-left: 800px;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
}

.items-lista-quiz {
    margin-right: 50px;
}

.texto-quiz {
    text-decoration: none;
    color: #0803B9;
    font-size: 22px;
}

.body-pagina-quiz {
    max-width: 100%;
    height: 6128;
    background: linear-gradient(180deg, #EF72DB 3.75%, #FBD165 40%, #722885 76.5%);
    background-size: 160%;
}

.planeta-laranja-quiz {
    width: 25%;
    padding-left: 75%;
    margin-top: -20%;
}

.estrelas-quiz {
    width: 10%;
    margin-top: 5%;

}

.balao1-quiz {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 20px;
    width: 400px;
    height: 160px;
    padding: 20px;
    position: relative;
    margin-top: -28.3%;
    background-color: #DCBAFF;
    box-shadow: 5px 5px 8px 5px #C056C2;
}

.balao1-quiz:after {
    /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    rotate: 50px;
    border-right: 40px solid transparent;
    border-top: 70px solid #DCBAFF;
    bottom: -28%;
    left: -0%;

}

.texto-balao1-quiz {
    font-size: 21px;
    color: black;
    margin-left: 3%;

}



@keyframes foguete-quizAnimation{
    from{
        transform:translateX(70px);
    }
}
.foguete-quiz {
    padding-left: 18%;
    width: 15%;
    height: 15%;
    margin-bottom: 5%;

 
animation: foguete-quizAnimation 0.8s ease-in-out infinite alternate;

}

.fogo1-quiz {
    width: 19%;
    margin-left: 44%;
}

.teclado-quiz {
    width: 12%;
    padding-left: 40%;
    padding-top: 15px;
}

.planeta-verde-quiz {
    width: 15%;
    height: 13%;
    margin-right: 65%;
    margin-top: -13%;

}


.balao2-quiz {
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 20px;
    width: 400px;
    height: 30px;
    padding: 30px;
    position: relative;
    background-color: #DCBAFF;
    box-shadow: 5px 5px 8px 5px #C056C2;
    margin-bottom: 2%;
}

.balao2-quiz:after {
    /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 40px solid transparent;
    border-top: 70px solid#DCBAFF;
    bottom: -30%;
    left: -0%;

}

.texto-balao2-quiz {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 28px;
    text-align: center;
}

.monstro1-quiz {
    width: 6%;
    height: 7%;
    margin-top: 1%;
    padding-left: 29%;
    position: relative;
}

.jogo-quiz {
    padding-left: 30%;
    width: 40%;
    margin-top: -1%;
}

.balao3-quiz {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 350px;
    height: 60px;
    padding: 30px;
    position: absolute;
    background-color: #DCBAFF;
    box-shadow: 5px 5px 8px 5px #C056C2;
    margin-top: 1%;
    margin-left: 33%;
}

.texto-balao3-quiz {
    margin-top: -2%;
    color: black;
    font-size: 20px;
}

@keyframes monstro2-quizAnimation{
    from{
        transform:translateY(60px);
    }
}
.monstro2-quiz {
    margin-top: 8%;
    width: 9%;
    padding-left: 65%;
    
 
animation: monstro2-quizAnimation 0.5s ease-in-out infinite alternate;

}


.fogo2-quiz {
    width: 25%;
    margin-top: -25%;
    margin-left: 75%;
    display: flex;
}

.montanha1 {
    width: 35%;
    height: 80%;
    margin-right: 0.0%;
    margin-top: -13%;
    display: flex;
}

.planta-quiz {
    margin-top: -5%;
    margin-left: 18%;
    width: 5%;
}


.pedra-montanha2 {
    margin-bottom: 5%;
    position: absolute;
}

.fogo3-quiz {
    width: 8%;
    margin-top: -21%;
    display: flex;
    margin-left: 29%;
}


.pedra-montanha2 {
    width: 5%;
    margin-top: -4%;
    display: flex;
}

.montanha2 {
    margin-top: -105%;
    width: 30%;
    display: flex;
    margin-right: 90%;
}

.monstro3-quiz {
    margin-left: 75%;
    margin-top: 20%;
    width: 12%;
}

.montanha4 {
    margin-top: -12%;
    width: 20%;
}

.balao4-quiz {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 350px;
    height: 60px;
    padding: 30px;
    position: absolute;
    background-color: #DCBAFF;
    box-shadow: 5px 5px 8px 5px #C056C2;
    margin-top: -30%;
    margin-left: 44%;
}

.texto-balao4-quiz {
    margin-top: -2%;
    color: black;
    font-size: 20px;
}


.montanha3 {
    margin-left: 80%;
    margin-top: -3%;
    width: 20%;


}


.video-quiz {
    margin-top: -6%;
    display: flex;
    margin-left: 30%;
    position: relative;

}

.bolas-video {
    position: absolute;
    margin-left: 26%;
    margin-top: -9.5%;
    width: 7%;
}


.pedra2 {
    width: 5%;
    margin-left: 23%;
    margin-top: -3%;

}

.planta2-quiz {
    width: 10%;
    margin-bottom: -10%;
}

.monstro4-quiz {
    margin-left: 82%;
}


.balao4 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 330px;
    height: 40px;
    padding: 30px;
    position: absolute;
    background-color: #DCBAFF;
    box-shadow: 5px 5px 8px 5px #C056C2;
    margin-top: -15%;
    margin-left: 50%;
}

.texto-balao4 {
    margin-top: -20px;
    color: black;
    font-size: 20px;
}

.planta3-quiz {
    margin-left: 87.7%;
    margin-top: -7.7%;
}

.FooterHomePage {
    display: flex;
    margin-top: 7%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}

.PoliticaHomePage {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;

}

.AvisoHomePage {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
}

.ParceirosHomePage {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;

}

.DoaçãoHomePage {
    text-decoration: none;
    color: black;
    color: #fff;

}

.iconeshomepage {
    position: relative;
}

.InstagramHomePage {
    width: 45px;
}

.WhatsappHomepage {
    position: relative;
    width: 45px;
    margin-left: 35px;
}

.GmailHomePage {
    position: relative;
    width: 45px;
    margin-left: 35px;

}