*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.object {
    text-align: center;
    margin-right: 30%;
}

.logo{
    position: absolute ;
    margin-top: -46%;
    width: 40%;
    justify-content: center;
    align-items: center;
    left: 30%;
}

h2{
    color: aliceblue;
    position: absolute;
    margin-top: -19%;
    margin-left: -2%;
    left: 36%;
}

/*começa a animação do cenario*/

.scene{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #01070a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
}

.scene i{
    position: absolute;
    top: -250px;
    background: rgba(255,255,255, 0.3);
    animation: animateStars linear infinite;

}
@keyframes animateStars {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200vh);
    }
}

/*Animação do foguete*/

.scene .container{
    position: absolute;
    animation: animate 0.2s ease infinite;
    padding-left: 28%;
}

@keyframes animate {
        0%,100%{
            transform: translateY(-2px);
        }
        50%{
            transform: translateY(2px);
        }

}
.scene .container1::before{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 53.5%;
    transform: translateX(-50%);
    width: 5px;
    height: 200px;
    background: linear-gradient(#00d0ff,transparent);
}

.scene .container1::after{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 53.5%;
    transform: translateX(-50%);
    width: 5px;
    height: 200px;
    background: linear-gradient(#00d0ff,transparent);
    filter: blur(20px);
}

.scene .container::before{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 48.5%;
    transform: translateX(-50%);
    width: 5px;
    height: 200px;
    background: linear-gradient(#00d0ff,transparent);
}

.scene .container::after{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 200px;
    background: linear-gradient(#00d0ff,transparent);
    filter: blur(20px);
}

.planeta_quiz{
    position: absolute;
    color: aliceblue;
    padding-top: 21%;
    left: 4%;
    color: antiquewhite linear-gradient(1%);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.planeta_quiz img {
    width: 150px;
}

.planeta_cobrinha{
    position: absolute;
    color: aliceblue;
    padding-top: 16%;
    left: 25%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.planeta_cobrinha img {
    width: 120px;
}

.planeta_labirinto{
    position: absolute;
    color: aliceblue;
    padding-top: 16%;
    left: 68%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.planeta_labirinto img {
    width: 120px;
}

.planeta_desenho{
    position: absolute;
    color: aliceblue;
    padding-top: 21%;
    left: 89%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.planeta_desenho img {
    width: 120px;
}


/*Animação dos planetas*/

.planetas .planeta_desenho{
    position: absolute;
    animation: animate 1s ease infinite;
}   

.planetas .planeta_cobrinha{
    position: absolute;
    animation: animate 1s ease infinite;
}

.planetas .planeta_labirinto{
    position: absolute;
    animation: animate 1s ease infinite;
}

.planetas .planeta_quiz{
    position: absolute;
    animation: animate 1s ease infinite;
}

.NavePrincial{
    margin-left: -5%;
    width: 30%;
}







