* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;




}


.HeaderHomePage {
    background: #98E1F8;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 99;

}

.imgX {
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 12%;
    left: 10%;
}


.JogosHomePage {
    position: absolute;
    text-decoration: none;
    color: #5F5BD9;

    margin-left: 22%;
    margin-top: 2%;
    font-size: 150%;
    z-index: 0;

}

.JogosHomePage:hover {
    color: #F2C029;
    transition: 0.5s;
}

.TutorialHomePage {
    position: absolute;
    text-decoration: none;
    color: #5F5BD9;
    margin-left: 33%;
    margin-top: 2%;
    font-size: 150%;
    z-index: 0;

}

.TutorialHomePage:hover {
    color: #F2C029;
    transition: 0.5s;
}


.SobreHomePage {
    position: absolute;
    text-decoration: none;
    color: #5F5BD9;
    margin-left: 45%;
    margin-top: 2%;
    font-size: 150%;
    z-index: 0;
}

.SobreHomePage:hover {
    color: #F2C029;
    transition: 0.5s;
}


.BotãoRegistroHomePage {
    position: absolute;
    margin-left: 75%;
    margin-top: 0.9%;
    width: 10%;
    height: 65%;
    border-radius: 10px;
    font-size: 130%;
    color: white;
    background: #5F5BD9;
    cursor: pointer;
    border: none;

}

.BotãoRegistroHomePage:hover {
    background: #F2C029;
    color: white;
    transition: 0.5s;
}

.BotãoLoginHomePage {
    position: absolute;
    margin-left: 88%;
    margin-top: 0.9%;
    width: 9%;
    height: 65%;
    border-radius: 10px;
    font-size: 130%;
    color: white;
    background: #5F5BD9;
    cursor: pointer;
    border: none;
}

.BotãoLoginHomePage:hover {
    background: #F2C029;

    transition: 0.5s;
}

.BodyHomePage {
    background: linear-gradient(180deg, #98BBF8 0%, #98BBF8 0%, #98E1F8 0.01%, #98E1F8 73.96%, #F7A837 93.23%, #EA3F24 100%);

}


#SolHomePage {
    position: absolute;
    width: 22%;
    margin-top: 9%;
    z-index: 0;

}

.LogoHomePage {
    position: absolute;
    width: 40%;
    margin-top: 12%;
    margin-left: 32%;
    z-index: 98;
}

@keyframes nuvemAnimation {
    from {
        transform: translateX(100px);
    }
}

@keyframes nuvemGatoAnimation {
    from {
        transform: translateX(10px);
    }
}


.NuvemHomePage1 {
    position: absolute;
    width: 20%;
    margin-top: 25%;
    margin-right: 20%;
    z-index: 0;

    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage2 {
    position: absolute;
    width: 20%;
    margin-top: 16%;
    margin-left: 60%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage3 {
    position: absolute;
    width: 20%;
    margin-top: 45%;
    margin-left: 70%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage4 {
    position: absolute;
    width: 20%;
    margin-top: 55%;
    margin-left: 10%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage5 {
    position: absolute;
    width: 20%;
    margin-top: 84%;
    margin-left: 65%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage6 {
    position: absolute;
    width: 20%;
    margin-top: 110%;
    margin-left: 5%;
    z-index: 0;
    animation: nuvemGatoAnimation 5s ease-in-out infinite alternate;
}

.NuvemHomePage7 {
    position: absolute;
    width: 20%;

    margin-left: 5%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage8 {
    position: absolute;
    width: 20%;

    margin-left: 70%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}


.MascoteNuvemHome {
    position: absolute;
    width: 17%;
    margin-top: 110%;
    margin-left: 5%;
    z-index: 0;
    animation: nuvemGatoAnimation 5s ease-in-out infinite alternate;
}




.JogosHomePageTitulo {
    position: absolute;

    margin-left: 45%;
    margin-top: 60%;
    font-size: 230%;
}

.DesenhoGameHome {
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 15%;
}

.SnakeGameHome {
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 34%;

}

.LabirintoGameHome {
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 53%;

}

.QuizGameHome {
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 74%;

}


.TutorialTituloHomePage {
    position: absolute;

    margin-left: 23%;
    margin-top: 110%;
    font-size: 230%;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal 5s steps(55) both infinite;

}

@keyframes pisca {
    100% {
        border-right-color: transparent;
    }

}

@keyframes escrever {
    100% {
        max-width: 100%;
    }

}

.VideoTutotiralHomePage {
    width: 40%;
    z-index: 99;
    margin-top: 116%;
    margin-left: 32%;
}

.programacao {
    position: absolute;
    margin-top: -30px;
    margin-left: 500px;
}

.wrapper {
    box-sizing: unset;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    margin-top: 15%;
    padding: 40px;
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #5F5BD9;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #F2C029;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: 100%;
}

.carousel img:first-child {
    margin-left: 0px;
}



.Terra1Home {
    position: absolute;
    width: 70%;
    margin-left: 16%;
    margin-top: 25%;
}

.NaveHomePage {
    position: absolute;
    width: 8%;
    margin-left: 46%;
    margin-top: 25%;
}

.FooterHomePage {
    margin-top: 70%;
    margin-left: 3%;

}

#JogarBTNHome {
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
    width: 10%;
    height: 50px;
    background: #5F5BD9;
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#JogarBTNHome:hover {
    height: 51px;
    background: #F2C029;
    transition: 0.2s;
}



.PoliticaHomePage {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 5%;
    color: #0B0A4B;
}



.AvisoHomePage {
    text-decoration: none;
    margin-top: 20px;
    color: #0B0A4B;
    margin-left: 5%;

}


.ParceirosHomePage {
    text-decoration: none;
    color: #0B0A4B;
    margin-top: 20px;
    margin-left: 5%;
}


.DoaçãoHomePage {
    text-decoration: none;
    margin-top: 20px;
    color: #0B0A4B;
    margin-left: 5%;
}



.InstagramHomePage {
    margin-left: 250px;
    width: 45px;


}

.WhatsappHomepage {
    width: 45px;
    margin-left: 20px;



}

.GmailHomePage {
    margin-left: 20px;
    width: 45px;



}