

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    
    
    
}


.HeaderHomePage{
    background: #98E1F8;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 99;
    
}

.imgX{
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 12%;
    left: 10%;
}


.JogosHomePage{
    position: absolute;
    text-decoration: none;
    color: #DC143C;
    
    margin-left: 22%;
    margin-top: 2%;
    font-size: 150%;
    z-index: 0;
    
}

.JogosHomePage:hover{
    color: green;
    transition:0.5s;
}

.TutorialHomePage{
    position: absolute;
    text-decoration: none;
    color: #DC143C;
    margin-left: 33%;
    margin-top: 2%;
    font-size: 150%;
    z-index: 0;
    
}

.TutorialHomePage:hover{
    color: green;
    transition:0.5s;
}


.SobreHomePage{
    position: absolute;
    text-decoration: none;
    color: #DC143C;
    margin-left: 45%;
    margin-top: 2%;
    font-size: 150%;
    z-index: 0;
}

.SobreHomePage:hover{
    color: green;
    transition:0.5s;
}


.BotãoRegistroHomePage{
    position: absolute;
    margin-left: 75%;
    margin-top: 0.9%;
    width: 9%;
    height: 65%;
    border-radius: 10px;
    font-size: 130%;
    color: white;
    background: #DC143C;
    cursor: pointer;
    border: none;
    
}

.BotãoRegistroHomePage:hover{
    background: green;
    transition: 0.5s;
}

.BotãoLoginHomePage{
    position: absolute;
    margin-left: 88%;
    margin-top: 0.9%;
    width: 9%;
    height: 65%;
    border-radius: 10px;
    font-size: 130%;
    color: white;
    background: #DC143C;
    cursor: pointer;
    border: none;
}

.BotãoLoginHomePage:hover{
    background: green;
    
    transition: 0.5s;
}

.BodyHomePage{
    background: #98E1F8;
    
}


#SolHomePage{
    position: absolute;
    width: 22%;
    margin-top: 9%;
    z-index: 0;
   
}

.LogoHomePage{
    position: absolute;
    width: 40%;
    margin-top: 12%;
    margin-left: 32%;  
    z-index: 98;  
}

@keyframes nuvemAnimation{
    from{
        transform: translateX(100px);
    }
}

@keyframes nuvemGatoAnimation{
    from{
        transform: translateX(10px);
    }
}


.NuvemHomePage1{
    position: absolute;
    width: 20%;
    margin-top: 25%;
    margin-right: 20%;
    z-index: 0;

    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage2{
    position: absolute;
    width: 20%;
    margin-top: 16%;
    margin-left: 60%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage3{
    position: absolute;
    width: 20%;
    margin-top: 45%;
    margin-left: 70%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage4{
    position: absolute;
    width: 20%;
    margin-top: 55%;
    margin-left: 10%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage5{
    position: absolute;
    width: 20%;
    margin-top: 84%;
    margin-left: 65%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage6{
    position: absolute;
    width: 20%;
    margin-top: 110%;
    margin-left:5%;
    z-index: 0;
    animation: nuvemGatoAnimation 5s ease-in-out infinite alternate;
}

.NuvemHomePage7{
    position: absolute;
    width: 20%;
   
    margin-left:5%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}

.NuvemHomePage8{
    position: absolute;
    width: 20%;
   
    margin-left:70%;
    z-index: 0;
    animation: nuvemAnimation 10s ease-in-out infinite alternate;
}


.MascoteNuvemHome{
    position: absolute;
    width: 17%;
    margin-top: 110%;
    margin-left: 5% ;
    z-index: 0;
    animation: nuvemGatoAnimation 5s ease-in-out infinite alternate;
}




.JogosHomePageTitulo{
    position: absolute;
    
    margin-left: 45%;
    margin-top: 60%;
    font-size: 230%;
}

.DesenhoGameHome{
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 15%;
}

.SnakeGameHome{
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 34%;

}

.LabirintoGameHome{
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 53%;

}

.QuizGameHome{
    position: absolute;
    width: 10%;
    margin-top: 75%;
    margin-left: 74%;

}


.TutorialTituloHomePage{
    position: absolute;

    margin-left: 23%;
    margin-top: 110%;
    font-size: 230%;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal 5s steps(55) both infinite;

}

@keyframes pisca {
    100%{
        border-right-color: transparent;
    }
    
}

@keyframes escrever {
    100%{
        max-width: 100%;
    }
    
}

.VideoTutotiralHomePage{
    width: 40%;
    z-index: 99;
    margin-top: 116%;
    margin-left: 32%;
}

.SliderHome{
    position: absolute;
    margin-left: 26%;
    margin-top: 20%;
    width: 45.5%;
    height: 70%;
    overflow: hidden;
}

.SlidersHome{
    width: 400%;
    height: 70%;
    display: flex;
}

.InputSlideHome{
    display: none;
}

.slidegeral{
    width: 25%;
    position: relative;
}

.manual-navegation{
    position: absolute;
    width: 810px;
    margin-top: -10%;
    display: flex;
    margin-left: 40%;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 5%;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .slide1{
    margin-left: 0;
}

#radio2:checked ~ .slide1{
    margin-left: -25%;
}

#radio3:checked ~ .slide1{
    margin-left: -50%;
}




.Terra1Home{
    position: absolute;
    width: 70%;
    margin-left: 14%;
    margin-top: 73%;
}

.NaveHomePage{
    position: absolute;
    width: 100px;
    margin-left: 45%;
    margin-top: 72%;
}

.FooterHomePage{
    margin-top: 120%;
    margin-left: 3%;
    
}

#JogarBTNHome{
    position: absolute;
    margin-top: 60%;
    margin-left: 45%;
    width: 100px;
    height: 50px;
    background: #DC143C;
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#JogarBTNHome:hover{
    width: 101px;
    height: 51px;
    background:green ;
    transition: 0.2s;
}

.PoliticaHomePage{
    text-decoration: none;
    color: black;
    padding: 20px;
    color: #DC143C;
}

.PoliticaHomePage:hover{
    color: green;
}

.AvisoHomePage{
    text-decoration: none;
    color: black;
    padding: 20px;
    color: #DC143C;

}

.AvisoHomePage:hover{
    color: green;
}

.ParceirosHomePage{
    text-decoration: none;
    color: black;
    padding: 20px;
    color: #DC143C;
}

.ParceirosHomePage:hover{
    color: green;
}

.DoaçãoHomePage{
    text-decoration: none;
    color: black;
    padding: 20px;
    color: #DC143C;
}

.DoaçãoHomePage:hover{
    color: green;
}

.InstagramHomePage{
   margin-left: 250px;
    width: 45px;
   
    
    
}

.WhatsappHomepage{
    width: 45px;
    margin-left: 20px;
    
    

}

.GmailHomePage{
    margin-left: 20px;
    width: 45px;
    
    
    
}

