<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='JogoLabirinto/css/labirintostyle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <title>Labirinto</title>
</head>
<header>
    <img src="../../static/JogoLabirinto/images/logo2.png" class="LogoLabirinto">

        <a href="#" class="QueJogo">Que jogo éesse?</a>
        <a href="#" class="jogar">Jogar</a>
        <a href="#" class="Objetivo">Objetivo</a>  
</header>
<body>  
    
    
</body>
</html>