<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='JogoCobrinha/css/style-cobrinha.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/JogoCobrinha/images/icone-cobrinha.png" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <title>Cobrinha</title>
</head>
<header>
    <div>
        <a href="{{ url_for ('menuJogos') }}">
            <img class="logo-principal" src="../../static/JogoCobrinha/images/logo-principal.png" width="105"
                height="62" />
        </a>
    </div>

    <ul class="lista-cobrinha">
        <li class="items-lista-cobrinha">
            <a class="texto" href="#comofunciona">Como funciona?</a>
        </li>

        <li class="items-lista-cobrinha">
            <a class="texto" href="#comojogar">Jogar</a>
        </li>

        <li class="items-lista-cobrinha">
            <a class="texto" href="#objetivodojogo">Objetivo</a>
        </li>
    </ul>

</header>

<body class="bodypaginacobrinha">
    <img class="planeta-rosa" src="../../static/JogoCobrinha/images/planeta-rosa.png" />
    <!--  <img class="teste" src="./images/teste 2.png" /> -->
    <div id="comofunciona" class="balao1">
        <p class="texto-balao1"> Chegamos ao planeta da cobrinha, embarque nesse planeta para começar a jogar esse jogo incrível.
            <br> <br>O que você vai precisar para jogar:
        </p>
        <img class="teclado" src="../../static/JogoCobrinha/images/teclado.png" />
    </div>
    <img class="foguete" src="../../static/JogoCobrinha/images/foguete.png" />
    <img class="planeta-cinza" src="../../static/JogoCobrinha/images/planeta-cinza-2.png" />
    <img class="planeta-verde" src="../../static/JogoCobrinha/images/planeta-verde.png" />
    <div class="balao2">
        <p class="texto-balao2">
            Vamos começar a jogar!
        </p>
    </div>
    <img id="comojogar" class="minhoca" src="../../static/JogoCobrinha/images/minhoca1.png" />
    <!-- IMAGEM DO JOGO -->
    <a href="{{ url_for ('jogo_cobrinha') }}"><img class="jogo-cobrinha" src="../../static/JogoCobrinha/images/IniciarCobrinha.png"/></a>
    <!--<div class="balao3">
        <p class="texto-balao2">Controle a cobrinha para ela conseguir se alimentar e ficar cada vez maior.</p>
    </div>-->
    <img class="ar-cortado" src="../../static/JogoCobrinha/images/ar-fresco-cortado.png" />
    <img class="minhoca-montanha" src="../../static/JogoCobrinha/images/mini-minhoca.png" />
    <div>
        <img class="montanha" src="../../static/JogoCobrinha/images/montanha1.png" />
        <img class="bola-deserto" src="../../static/JogoCobrinha/images/bola-deserto.png" />
        <img class="montanha2" src="../../static/JogoCobrinha/images/montanha2.png" />
        <img class="bola-furada" src="../../static/JogoCobrinha/images/bola-furo.png" />
        <img class="pedra-montanha2" src="../../static/JogoCobrinha/images/pedra1.png" />
        <img class="pedra2-montanha2" src="../../static/JogoCobrinha/images/pedra1.png" />
        <div class="balao3">
            <h1 class="texto-balao3"> Objetivo do jogo</h1> <br>
            <h3 id="objetivodojogo" > Vídeo explicativo:</h3>
        </div>
        <img class="grama1" src="../../static/JogoCobrinha/images/grama.png" />

        <img class="minhocadupla" src="../../static/JogoCobrinha/images/minhoca-dupla.png" />
        <img class="grama2" src="../../static/JogoCobrinha/images/grama.png" />
    </div>
    <img class="minhoca-verde" src="../../static/JogoCobrinha/images/minhoca-verde.png" />
    <div>
        <img class="grama3" src="../../static/JogoCobrinha/images/grama.png" />

        <img class="video" src="../../static/JogoCobrinha/images/startCobrinha.png" alt="explicando o jogo"></img>
    </div>
    <div>
        <img class="pedra2" src="../../static/JogoCobrinha/images/pedra2.png" />
    </div>
    <img class="minhocaflor" src="../../static/JogoCobrinha/images/minhoca-flor.png" />
    <img class="grama4" src="../../static/JogoCobrinha/images/grama.png" />
    <div>
        <img class="grama5" src="../../static/JogoCobrinha/images/grama.png" />
        <div class="balao4">
            <h4 class="texto-balao4"> Espero que você se divirta e aprenda bastante jogando o jogo da cobrinha.</h4>

        </div>
        <img class="ultimaminhoca" src="../../static/JogoCobrinha/images/ultimaminhoca.png" />
        <img class="pedra3" src="../../static/JogoCobrinha/images/pedra3.png" />

        <div class="FooterHomePage">
            <div class="Texto">
                <a href="https://new.safernet.org.br/content/acesso-%C3%A0-internet-por-crian%C3%A7as-e-adolescentes-dicas-de-como-orientar" class="PoliticaHomePage">Politíca de privicadade</a>
                <a href="https://www.alura.com.br/artigos/o-que-sao-cookies-como-funcionam?gclid=CjwKCAiAkfucBhBBEiwAFjbkr6ZbogWxM_QPQXOHwwk61W-3QB32Fsuo4QCXG7BMzEHKhzb3Z1na-BoCG80QAvD_BwE" class="AvisoHomePage"> Aviso sobre cookies </a>
                <a href="https://www.instagram.com/instituto.proa/" class="ParceirosHomePage"> Parceiros </a>
                <a href="#" class="DoaçãoHomePage"> Faça uma doação</a>
            </div>
            <div class="iconeshomepage">
                <a href="https://www.instagram.com/kid.code5544/"><img
                        src="../../static/JogoCobrinha/images/instagram.png" class="InstagramHomePage"></a>
                <a href="#"><img src="../../static/JogoCobrinha/images/whatsapp.png" class="WhatsappHomepage"></a>
                <a href="#"><img src="../../static/JogoCobrinha/images/gmail.png" class="GmailHomePage"></a>
            </div>
            <p></p>
        </div>

</body>
</html>