<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='JogoDesenho/css/Desenho.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/JogoDesenho/images/desenho.png" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <title>Desenho</title>
</head>
<header>
    <div>
        <a href="{{ url_for ('menuJogos') }}">
            <img class="logo-principal" src="../../static/JogoDesenho/images/logo-principal.png" width="105"
                height="62" />
        </a>
    </div>

    <ul class="lista-cobrinha">
        <li class="items-lista-cobrinha">
            <a class="texto" href="#comofunciona">Como funciona?</a>
        </li>

        <li class="items-lista-cobrinha">
            <a class="texto" href="#comojogar">Jogar</a>
        </li>

        <li class="items-lista-cobrinha">
            <a class="texto" href="#objetivodojogo">Objetivo</a>
        </li>
    </ul>

</header>

<body class="bodypaginacobrinha">
    <img class="pedrinha1" src="../../static/JogoDesenho/images/pedrinhas-espaco.png" />
    <!--  <img class="teste" src="./images/teste 2.png" /> -->
    <div id="comofunciona" class="balao1">
        <p class="texto-balao1"> Chegamos ao planeta da desenho, embarque nesse planeta para começar a jogar esse jogo
            incrível.
            <br> <br>O que você vai precisar para jogar:
        </p>
        <img class="teclado" src="../../static/JogoDesenho/images/teclado.png" />
    </div>
    <img class="foguete" src="../../static/JogoDesenho/images/foguete.png" />
    <img class="planeta-laranja" src="../../static/JogoDesenho/images/Lualaranja.png" />
    <img class="planeta-azul" src="../../static/JogoDesenho/images/Lua-azul.png" />
    <div class="balao2">
        <p class="texto-balao2">
            Vamos começar a jogar!!
        </p>
    </div>
    <img id="comojogar" class="gato" src="../../static/JogoDesenho/images/gato.png" />
    <!-- IMAGEM DO JOGO -->
    <a href="{{ url_for ('jogo_desenho') }}"><img class="tela-branca" src="../../static/JogoDesenho/images/IniciarDesenho.png"/></a>

    <div class="balao3">
        <p class="texto-balao3">Sinta-se livre para soltar a criatividade e fazer um desenho irado!!</p>
    </div>
    <img class="lua-colorida" src="../../static/JogoDesenho/images/lua-colorida.png" />
    <img class="robo-balao" src="../../static/JogoDesenho/images/robo1-balao.png" />
    <div>
        <img class="robo-grande" src="../../static/JogoDesenho/images/robo-2.png" />
        <img class="estrela1" src="../../static/JogoDesenho/images/estrela1.png" />
        <img class="robo-3" src="../../static/JogoDesenho/images/robo-3.png" />
        <img class="estrela2" src="../../static/JogoDesenho/images/estrela1.png" />
        <img class="robo-4" src="../../static/JogoDesenho/images/robo-4.png" />
        <img class="decor-robo" src=".../../static/JogoDesenho/images/decor-robo.png" />
        <div class="balao4">
            <h1 class="texto-balao4"> Objetivo do jogo</h1> <br>
            <h3 id="objetivodojogo" > Vídeo explicativo:</h3>
        </div>
        <img class="estrela3" src="../../static/JogoDesenho/images/estrela1.png" />

        <img class="robo-5" src="../../static/JogoDesenho/images/robo-5.png" />
        <img class="estrela" src="../../static/JogoDesenho/images/estrela1.png" />
    </div>
    <img class="robo-cortado" src="../../static/JogoDesenho/images/robo-cortado.png" />
    <div>
        <img class="estrela5" src="../../static/JogoDesenho/images/estrela1.png" />

        <iframe class="video" width="670" height="450" src="https://www.youtube.com/embed/Hgcjl7RQSK4"
            title="Mundo Bita & Emicida -  O Amor é Tudo de Bom" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div>
        <img class="pedrinha2" src="../../static/JogoDesenho/images/pedrinhas-espaco.png" />
    </div>
    <img class="robo-6" src="../../static/JogoDesenho/images/robo-6.png" />
    <img class="estrela4" src="./images/grama.png" />
    <div>
        <img class="estrela6" src="../../static/JogoDesenho/images/estrela1.png" />
        <div class="balao5">
            <h4 class="texto-balao5"> Espero que você se divirta e aprenda bastante jogando o jogo do desenho.</h4>
        </div>
        <img class="robo-7" src="../../static/JogoDesenho/images/robo-7.png" />
        <img class="pedrinha3" src="../../static/JogoDesenho/images/pedrinhas-espaco.png" />

        <div class="FooterHomePage">
            <div class="Texto">
                <a href="#" class="PoliticaHomePage">Politíca de privicadade</a>
                <a href="#" class="AvisoHomePage"> Aviso sobre cookies </a>
                <a href="#" class="ParceirosHomePage"> Parceiros </a>
                <a href="#" class="DoaçãoHomePage"> Faça uma doação</a>
            </div>
            <div class="iconeshomepage">
                <a href="https://www.instagram.com/kid.code5544/"><img
                        src="../../static/JogoDesenho/images/instagram.png" class="InstagramHomePage"></a>
                <a href="#"><img src="../../static/JogoDesenho/images/whatsapp.png" class="WhatsappHomepage"></a>
                <a href="#"><img src="../../static/JogoDesenho/images/gmail.png" class="GmailHomePage"></a>
            </div>
            <p></p>
        </div>

</body>


</html>