.body_perfil {
    background-image: url('../img/2159.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.perfil {
    min-height: 98.299vh;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   
}

.foto_perfil{
    width: 290px;
    height: 100px;
    max-width: 100%;
    height: auto;
}

.bola_cruz{
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-image: linear-gradient(to right, #0094fb, #00069d );
    position: relative;
    left: 60px;
    bottom: 30px;
}

.vertical_cruz{
    height: 17px;
    width: 4px;
    background-color: white;
    border-radius: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.horizontal_cruz{
    height: 4px;
    width: 17px;
    background-color: white;
    border-radius: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.escolha_fotos{
    width: 10px;
    gap: 10px;
    position: absolute;
    height: 45px;
    width: 250px;
    bottom: 512px;
    background-color: none;

}

.astro_foto{
    cursor: pointer;
    width: 48px;
    margin-left: 5px;
}

.xp_nivel {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    gap: 10px;
}

.barra_xp {
    display: flex;
    width: 200px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 150px;
    
}

.barra_xp::before{
    content: "";
    width: 60%;
    border-radius: 150px;
    background-color: #008000;
}

.bola_nivel {
    height: 40px;
    width: 40px;
    background-color: #ffff00;
    border: 2px solid black ;
    border-radius: 100%;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 100px;
    font-weight: bold;
    color: #b300ff;
}

.info_usu{
    background-color: rgba(105,5,179, 0.5);
    width: 17%;
    height: 300px;
    padding: 1%;
    border-radius: 5px;
}

.div_lapis{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.lapis {
    width: 25px;
    cursor: pointer;
}

.nome_perfil{
    margin-top: 20px;
    text-align: center;
}

.form_input{
    height: 30px;
}

.input_perfil{
    width: 100%;
    display: none;
}
