* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}
.header_labi {
    display: flex;
    text-align: center;
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding-top: 8px;
    padding-right: 5%;
    z-index: 2;
}
.lista_labi {
    list-style: none;
    display: flex;
    padding-left: 800px;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
}
.items_lista_labi {
    margin-right: 50px;
}
.texto_labi {
    text-decoration: none;
    color: #0803B9;
    font-size: 22px;
}
.bodypaginalabi {
    max-width: 100%;
    height: 6128;    
    background: linear-gradient(180deg, #75D8C5 3.75%, #7598D8 40%);
    background-size: 160%;
}
.planeta_cinza_labi {
    width: 18%;
    height: 20%;
    padding-left: 82%;
    margin-top: 7%;
}
.balao1_labi {
   
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 20px;
    width: 400px;
    height: 160px;
    color: #fff;
    padding: 20px;
    position: relative;
    margin-top: -15%;
    background-color: orange;
    box-shadow: 5px 5px 8px 5px rgb(226, 148, 2);
}

.balao1_labi:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    rotate: 50px;
    border-right: 40px solid transparent;
    border-top: 70px solid orange;
    bottom: -28%;
    left: -0%;
}
.texto_balao1_labi {
    font-size: 21px;
    color: white;
    margin-left: 3%;
}
@keyframes fogueteAnimation {
    from {
        transform: translateX(70px);
    }
}
.nave_labi {
    padding-left: 18%;
    width: 15%;
    height: 15%;
    margin-bottom: 5%;
    animation: fogueteAnimation 0.6s ease-in-out infinite alternate;
}
.teclado_labi {
    width: 12%;
    padding-left: 40%;
    padding-top: 15px;
}
.planeta_rosa_labi{
    width: 10%;
    height: 13%;
    padding-right: 90%;
    margin-top: -8%;
}
.planeta_ama_labi {
    width: 10%;
    height: 15%;
    padding-left: 90%;
    margin-top: -4%;
}
.balao2_labi {
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 20px;
    width: 400px;
    margin-top: -4%;
    height: 30px;
    padding: 30px;
    position: relative;
    background-color: orange;
    box-shadow: 5px 5px 8px 5px rgb(226, 148, 2);
}
.balao2_labi:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 40px solid transparent;
    border-top: 70px solid orange;
    bottom: -30%;
    left: -0%;
}
.texto_balao2_labi {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
}
.vaca {
    width: 6%;
    height: 7%;
    margin-top: 2%;
    padding-left: 29%;
    position: relative;
}

.breve_labi{
    font-size: 40px;
    color: white;
    position: absolute;
    left: 50%;
    top: 160%;
    transform: translate(-50%, -160%);
}

.jogo_labi {
    padding-left: 30%;
    width: 40%;
    margin-top: -1.5%;
    border-radius: 30px;
    border-left: 30px;
}

.macaco_balao_galho{
    position: relative;
    top: 120px;
    width: 100%;
}

.balao3_labi {
    position: absolute;
    left: 35%;
    top: 210%;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 330px;
    height: 40px;
    padding: 30px;
    position: absolute;
    background-color: orange;
    box-shadow: 5px 5px 8px 5px rgb(226, 148, 2);
    margin-top: -7%;
    margin-left: 31%;
    z-index: 1;
}

.balao3_labi:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 40px solid transparent;
    border-top: 70px solid orange;
    transform: rotate(-69deg);
    bottom: -30%;
    left: 90%;
    z-index: 1;
}
.texto_balao3_labi {
    margin-top: -10px;
    color: white;
    font-size: 20px;
    z-index: 1;
}

.macaco {
    width: 6%;
    margin-top: -25%;
    margin-right: 100%;
    position: absolute;
    left: 94%;
    bottom: -91px;
    z-index: 1;
}

.galho {
    width: 12%;
    padding-left: 65%;
    margin-top: -0.4%;
    display: flex;
    position: absolute;
    left: 23%;
    top: 210%;
    z-index: 1;
}

.arvo_poco_balao_porco{
    background-color: #61e161;
    height: 300px;
    position: relative;
    top: 120px;
    display: flex;
    width: 100%;
    justify-content: center;
}


.arvore_labi{
    position: relative;
    top: 40%;
    right: 20%;
    height: 100%;
    width: 30%;
    z-index: 1;

}

.planta_sem_terra01{
    position: absolute;
    top: 70%;
    right: 60%;
    width: 5%;
    height: 20%;
    
}

.poco_labi{
    position: absolute;
    right: 20%;
    width: 20%;
    height: 87%;
    z-index: 1;
}

.porco{
    position: relative;
    top:60%;
    right: 15%;
    width: 7%;
    height: 23%;
    z-index: 1;
}

.balao4_labi {
    position: absolute;
    left: 3%;
    top: 57%;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 330px;
    height: 40px;
    padding: 30px;
    position: absolute;
    background-color: orange;
    box-shadow: 5px 5px 8px 5px rgb(226, 148, 2);
    margin-top: -7%;
    margin-left: 31%;
    z-index: 1;
}

.balao4_labi:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 40px solid transparent;
    border-top: 70px solid orange;
    transform: rotate(-69deg);
    bottom: -30%;
    left: 90%;
    z-index: 1;
}
.texto_balao4_labi {
    margin-top: -10px;
    color: white;
    font-size: 20px;
    z-index: 1;
}

.img_video{
    position: relative;
}

.planta_terra01{
    position: absolute;
    left: 27.50%;
    top: 80%;
    width: 5%;
}

.img_video{
    width: 100%;
    background-color: #61e161;
}

.planta_sem_terra02{
    width: 5%;
    position: absolute;
    bottom: -5%;
    right: 19%;
}

.video {
    margin-top: 5%;
    display: block;
    margin-left: 30%;
    position: relative;
    width:670; 
    height:450;
    border-radius: 30px;
}

.planta_terra02{
    position: absolute;
    top: 60%;
    left: 95%;
    width: 5%;
}

.lontra_plante_terra_footer{
    background-color: #61e161;
}

.balao5_labi {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    padding: 15px;
    position: absolute;
    left: 20%;
    background-color: orange;
    box-shadow: 5px 5px 8px 5px rgb(226, 148, 2);
    margin-top: 4%;
    margin-left: 35%;
}

.balao5_labi::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 30px solid transparent;
    border-top: 30px solid orange;
    transform: rotate(-139deg);
    top: -26%;
    left: 94%;
    
}

.texto_balao4_labi {
    margin-top: -10px;
    color: white;
    font-size: 15px;
}

.lontra{
    position: relative;    
    left: 80%;
    width: 7%;
}

.footer_labi {
    width: 100%;
    background-color: #61e161;
    display: flex;
    margin-top: 7%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}
.politica_labi {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
}
.aviso_labi {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
}
.parceiros_labi {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
}
.doacao_labi {
    text-decoration: none;
    color: black;
    color: #fff;
}
.icones_labi {
    position: relative;
    margin-top: -1%;
}
.instagram_labi {
    width: 45px;
}
.what_labi {
    position: relative;
    width: 45px;
    margin-left: 35px;
}
.gmail_labi {
    position: relative;
    width: 45px;
    margin-left: 35px;
}