* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

header {
    display: flex;
    text-align: center;
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding-top: 8px;
    padding-right: 5%;
}

.lista-cobrinha {
    list-style: none;
    display: flex;
    padding-left: 800px;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
}

.items-lista-cobrinha {
    margin-right: 50px;
}

.texto{
    text-decoration: none;
    color: #0803B9;
    font-size: 22px;
}

.bodypaginacobrinha{
    max-width: 100%;
    height: 6128;
    background-image: linear-gradient(180deg, #FDFFA3 9.48%, rgba(223, 106, 41, 0.92) 91.77%);
    background-size: 160%;
}

.planeta-rosa {
    width: 18%;
    height: 20%;
    padding-left: 82%;
    margin-top: 7%;
}

.balao1 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 20px;
    width: 400px;
    height: 160px;
    color: #fff;
    padding: 20px;
    position: relative;
    margin-top: -15%;
    background-color: #5DE53B;
    box-shadow: 5px 5px 8px 5px #9EF988;
}

.balao1:after {
    /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    rotate: 50px;
    border-right: 40px solid transparent;
    border-top: 70px solid #5DE53B;
    bottom: -28%;
    left: -0%;

}

.texto-balao1 {
    font-size: 21px;
    color: white;
    margin-left: 3%;

}

.foguete {
    padding-left: 22%;
    width: 15%;
    height: 15%;
}

.teclado {
    width: 12%;
    padding-left: 40%;
    padding-top: 15px;
}

.planeta-cinza {
    width: 10%;
    height: 13%;
    padding-right: 90%;
    margin-top: -8%;
}

.planeta-verde {
    width: 10%;
    height: 15%;
    padding-left: 90%;
    margin-top: -4%;
}

.balao2 {
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 20px;
    width: 400px;
    margin-top: -4%;
    height: 30px;
    padding: 30px;
    position: relative;
    background-color: #5DE53B;
    box-shadow: 5px 5px 8px 5px #9EF988;
}

.balao2:after {
    /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-right: 40px solid transparent;
    border-top: 70px solid #5DE53B;
    bottom: -30%;
    left: -0%;

}

.texto-balao2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
}

.minhoca {
    width: 6%;
    height: 7%;
    margin-top: 2%;
    padding-left: 27%;
    position: relative;
}

.jogo-cobrinha {
    padding-left: 30%;
    width: 40%;
    margin-top: -1.5%;
}

.balao3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 350px;
    height: 60px;
    padding: 30px;
    position: absolute;
    background-color: #5DE53B;
    box-shadow: 5px 5px 8px 5px #9EF988;
    margin-top: -7%;
    margin-left: 31%;
}

.texto-balao3 {
    margin-top: -10px;
    color: white;
    font-size: 28px;
}

.minhoca-montanha {
    margin-top: -5%;
    width: 5%;
    padding-left: 94%;
}

.ar-cortado {
    height: 8%;
    width: 8%;
    margin-top: -25%;
    margin-right: 100%;
    display: flex;
}

.montanha {
    width: 35%;
    height: 80%;
    padding-left: 65%;
    margin-top: -0.4%;
    display: flex;
}

.bola-furada {
    margin-top: -4%;
    margin-left: 4%;
    width: 5%;
}

.grama2 {
    width: 5%;
    margin-left: -85%;
}

.pedra-montanha2 {
    position: absolute;
}

.pedra2-montanha2 {
    width: 5%;
    margin-top: -4%;
    display: flex;
    margin-left: 26%;
}

.pedra-montanha2 {
    width: 5%;
    margin-top: -4%;
    display: flex;
}

.montanha2 {
    margin-top: -24%;
    width: 30%;
    display: flex;
    margin-right: 90%;
}

.minhocadupla {
    width: 8%;
    margin-left: 65%;
    margin-top: -30%;
}

.bola-deserto {
    margin-top: -25%;
    margin-left: 95%;
    width: 5%;

}

.grama1 {
    width: 5%;
    margin-left: 87%;
    margin-top: -20%;
}

.grama2 {
    margin-left: -60%;
}

.video {
    margin-top: 5%;
    display: flex;
    margin-left: 30%;
    position: relative;

}

.minhoca-verde {
    position: absolute;
    margin-left: 22.5%;
    margin-top: 18%;
    width: 9%;
}

.grama3 {
    position: absolute;
    width: 5%;
    padding-left: 95%;
    margin-top: 20%;
}

.pedra2 {
    width: 5%;
    margin-left: 23%;
    margin-top: -3%;

}

.minhocaflor {
    width: 10%;
}

.grama4 {
    width: 9%;
    margin-top: -5%;
    margin-left: 70%;
}

.ultimaminhoca {
    margin-top: 6%;
    width: 7%;
    margin-left: 12%;
    position: relative;
}

.grama5 {
    margin-top: 5.3%;
    position: absolute;
    width: 7%;
    margin-left: 11.5%;
}

.balao4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    line-height: 1.6em;
    border-radius: 30px;
    width: 350px;
    height: 60px;
    padding: 30px;
    position: absolute;
    background-color: #5DE53B;
    box-shadow: 5px 5px 8px 5px #9EF988;
    margin-top: 4%;
    margin-left: 35%;
}

.pedra3 {
    margin-left: 92%;
    width: 8%;
}

.texto-balao4 {
    margin-top: -10px;
    color: white;
    font-size: 20px;
}

.FooterHomePage{
    display: flex;
    margin-top: 5%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
   
}
.PoliticaHomePage {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    
}

.AvisoHomePage {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
}

.ParceirosHomePage {
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
    
}

.DoaçãoHomePage {
    text-decoration: none;
    color: black;
    color: #fff;

}

.iconeshomepage{
    position: relative;
}

.InstagramHomePage {
    width: 45px;
}

.WhatsappHomepage {
    position: relative;
    width: 45px;
    margin-left: 35px;
}

.GmailHomePage {
    position: relative;
    width: 45px;
    margin-left: 35px;
  
}