<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{{ url_for('static',filename='HomePage/css/StyleHome.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <title>KidsCode</title>
    
</head>
<header class="HeaderHomePage">
  <!--Todo jogador de Dark Souls nunca desiste. Uma hora ele consegue vencer os obstaculos. Autor: Bruno-->
  <a href="{{ url_for ('Perfil') }}" class="rota_perfil01">
    <img src="../static/Perfil/images/astro-roxo.png" class="imgX">
  </a>
  <a href="#menujogos" class="JogosHomePage">Jogos</a>
  <a href="#sobrenos" class="SobreHomePage">Sobre Nós</a>
  <a href="#tutorial" class="TutorialHomePage">Tutorial</a>
  <a href="{{ url_for ('login1') }}" class= "LoginHomePage"><button class="BotãoLoginHomePage">Entrar</button></a>
  <a href="{{ url_for ('Registro') }}" class= "RegistroHomePage"><button class="BotãoRegistroHomePage">Criar conta</button></a>
</header>
<body class="BodyHomePage">
  <div class="HomeBody">
    <div class="Nuvens">

      
  <a href="{{ url_for ('home2') }}" class="a_sol_home_page"><img src="../static/HomePage/images/sol.png" id="SolHomePage"></a>
  <img src="../static/HomePage/images/logo2.png" class="LogoHomePage">
  <img src="../static/HomePage/images/nuvem.png" class="NuvemHomePage1">
  <img src="../static/HomePage/images/nuvem.png" class="NuvemHomePage2">
  <img src="../static/HomePage/images/nuvem.png" class="NuvemHomePage3">
  <img src="../static/HomePage/images/nuvem.png" class="NuvemHomePage4">
  <img src="../static/HomePage/images/nuvem.png" class="NuvemHomePage5">
  <img src="../static/HomePage/images/nuvem.png" class="NuvemHomePage6">
  <img src="../static/HomePage/images/gato1.png" class="MascoteNuvemHome">
</div>


  <div class="MenuJogos" >
  <h1 class="JogosHomePageTitulo" id="menujogos">JOGOS</h1>
  <img src="../static/HomePage/images/desenho.png" class="DesenhoGameHome">
  <img src="../static/HomePage/images/snake.png" class="SnakeGameHome">
  <img src="../static/HomePage/images/jogo-da-memoria.png" class="LabirintoGameHome">
  <img src="../static/HomePage/images/quiz (1).png" class="QuizGameHome">
  </div>
  <div class="Tutorial" >
   <h1 class="TutorialTituloHomePage" id="tutorial">Aprenda como utilizar o Kid's Code</h1>
    <video src="../static/HomePage/images/gatin.mp4" controls class="VideoTutotiralHomePage"></video>
  </div>

<div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"> « </i>
    <div class="carousel">
        <img src="../static/HomePage/images/carroselimages/carrossel1-dia.svg" alt="img" draggable="false">
        <img src="../static/HomePage/images/carroselimages/carrossel2-dia.svg" alt="img" draggable="false">
        <img src="../static/HomePage/images/carroselimages/carrossel3-dia.svg" alt="img" draggable="false">
       
    </div>
    <i id="right" class="fa-solid fa-angle-right"> »</i>
</div>


  

    </div>
    <div class="NaveFooter">
      <a href="{{ url_for ('menuJogos') }}"><button id='JogarBTNHome'>Jogar</button></a>
      <img src="../static/HomePage/images/TerraHomePage.png" class="Terra1Home">
      <img src="../static/HomePage/images/nave-espacial.png" class="NaveHomePage">
    </div>
    <script src="{{ url_for('static',filename='HomePage/js/JavascriptHomePage.js') }}"></script>
</body>

<footer>
  <div class="FooterHomePage">

    <a href="#" class="PoliticaHomePage">Politíca de privicadade</a>
    
    <a href="#" class="AvisoHomePage">Aviso sobre cookies</a>

    <a href="#" class="ParceirosHomePage">Parceiros</a>

    <a href="#" class="DoaçãoHomePage">Faça uma doação</a>
  
   
    <a href="https://www.instagram.com/kid.code5544/"><img src="../static/HomePage/images/instagram.png" class="InstagramHomePage"></a>
    
    <a href="#"><img src="../static/HomePage/images/whatsapp.png" class="WhatsappHomepage"></a>

    <a href="#"><img src="../static/HomePage/images/gmail.png" class="GmailHomePage"></a>
  

  </div>
</footer>
</html>